{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="{% static "css/style.css"%}">
</head>
<body>
<div class="container">
<nav class="navbar">
    <ul class="menu">
    <h1>To-Do list</h1>

   </ul>
</nav>
    <a href="/tasks/add">Add task</a><br><br>

{% for task in tasks %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Due date</th>
        </tr>
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
        </tr>
    </table>
<!--    <h2>Name - {{ task.name }}</h2>-->
<!--    <p>Description - {{ task.description }}</p>-->
<!--    <p>Due date - {{ task.due_date }}</p>-->
<!--    <p><a href="tasks/?pk={{ task.pk }}">More</a> </p>-->
{% endfor %}
</div>
</body>
</html>